<header>
  <div class="header-area header-transparent">
    <div class="main-header">
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">

            <div class="col-xl-2 col-lg-2 col-md-1">
              <div class="logo">
                <a routerLink="/">
                  <img src="assets/img/logo/logo.png" alt="Logo">
                </a>
              </div>
            </div>

            <div class="col-xl-10 col-lg-10 col-md-8">
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/categories">Categories</a></li>
                    <li><a routerLink="/listing">Listing</a></li>

                    <li>
                      <a href="#">Page</a>
                      <ul class="submenu">
                        <li><a routerLink="/blog">Blog</a></li>
                        <li><a routerLink="/blog-details">Blog Details</a></li>
                        <li><a routerLink="/elements">Elements</a></li>
                        <li><a routerLink="/listing-details">Listing Details</a></li>
                      </ul>
                    </li>

                    <li><a routerLink="/contact">Contact</a></li>

                    <li class="add-list">
                      <a routerLink="/listing-details">
                        <i class="ti-plus"></i> Add Listing
                      </a>
                    </li>

                    <li class="login">
                      <a routerLink="/login">
                        <i class="ti-user"></i> Sign in or Register
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <!-- Mobile menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
