<header>
  <div class="header-area header-transparent">
    <div class="main-header">
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">


            <div class="col-xl-2 col-lg-2 col-md-1">
              <div class="logo">
                <a routerLink="/">
                  <img src="assets/img/logo/logo.png" alt="Logo">
                </a>
              </div>
            </div>


            <div class="col-xl-10 col-lg-10 col-md-8">
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">


                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/events" routerLinkActive="active">All Events</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>


                    @if (!user()) {
                    <li class="login" style="margin-left: auto;">
                      <a routerLink="/login" routerLinkActive="active">
                        <i class="fas fa-user"></i>Sign in
                      </a>
                    </li>
                    }


                    @if (user()) {


                    <li class="add-list">
                      <a routerLink="/create" routerLinkActive="active">
                        <i class="ti-plus"></i> Add Listing
                      </a>
                    </li>


                    <li class="page-menu" style="margin-left: auto;">
                      <a routerLink="/profile">
                       <img src="https://i.pravatar.cc/150" alt="Profile Photo"></a>
                      <ul class="submenu">
                        <li><a routerLink="/profile">My Profile</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                      </ul>
                    </li>

                    }

                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>