<div class="event-card">
  @if (event) {
    <img [src]="event.images[0]" alt="Event image" class="event-image">
  }

  <div class="event-info">

    <h3 class="event-title">{{ event.title }}</h3>

    <p class="event-location">
      <span class="icon-location-pin"></span>
      <strong>Location:</strong> {{ event.town }}, {{ event.address }}
    </p>

    <p class="event-date">
      <span class="icon-calendar"></span>
      <strong>Date:</strong> {{ event.date }}
    </p>

   
    <p class="event-price">
      Ticket price: <strong>{{ event.price }} EUR</strong>
    </p>

    <button class="details-btn" [routerLink]="['/events', event._id]">
      View Details
    </button>

  </div>
</div>
