<section class="details-page">

  @if (event()) {
  @let e = event()!;


  <div class="hero-section">
    <img [src]="e.images[0]" class="hero-image">
    <div class="hero-overlay"></div>

    @if (isOwner()) {
    <div class="hero-actions">
      <button class="edit-btn" [routerLink]="['/edit', e._id]">Edit</button>
      <button class="delete-btn" (click)="openDeleteModal()">Delete</button>
    </div>
    }
  </div>

  <h1 class="hero-title">{{ e.title }}</h1>

  <div class="description-block">
    <p>{{ e.description }}</p>
  </div>

  <div class="info-panel">

    <div class="info-grid">
      <p class="info-line"><strong>Category:</strong> {{ e.category }}</p>
      <p class="info-line"><strong>Location:</strong> {{ e.town }}, {{ e.address }}</p>
      <p class="info-line"><strong>Start time:</strong> {{ e.date }} {{ e.time }}</p>
      <p class="info-line"><strong>Ticket Price:</strong> {{ e.price }} EUR</p>
      <p class="info-line"><strong>People joined:</strong> {{ e.participants.length }}</p>
    </div>

    <div class="action-area">
      @if (!isLoggedIn()) {
      <div class="login-box">
        <span class="login-text">Wish to join the event?</span>
        <button class="login-btn" routerLink="/login">Sign in</button>
      </div>
      }

      @if (isLoggedIn() && !isOwner()) {
      @if (!hasJoined()) {
      <button class="join-btn" (click)="joinEvent()">Join Event</button>
      }
      @if (hasJoined()) {
      <button class="join-btn joined" (click)="leaveEvent()">Leave Event</button>
      }
      }
    </div>

  </div>

  <div class="filmstrip">
    @for (img of e.images; track $index) {
    <img [src]="img" class="filmstrip-thumb" (click)="openViewer(img)">
    }
  </div>

  <div class="image-viewer" (click)="closeViewer()" [class.active]="viewerActive">
    <img [src]="viewerImage" class="viewer-img">
  </div>

  }
  @if (showDeleteModal) {
  <div class="modal-overlay" (click)="closeDeleteModal()"></div>

  <div class="modal-box">
    <h2>Delete Event?</h2>
    <p>Are you sure you want to delete this event? This action cannot be undone.</p>

    <div class="modal-actions">
      <button class="modal-btn cancel" (click)="closeDeleteModal()">Cancel</button>
      <button class="modal-btn delete" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
  }


</section>