<section class="details-page">

  @if (event()) {
  @let e = event()!;

  <h1 class="details-title">{{ e.title }}</h1>

  <div class="details-layout">

  
    <div class="details-left">

      
      <p class="description-text">
        {{ e.description }}
      </p>

     
      <p class="info-line">
        <strong>Address:</strong> {{ e.town }}, {{ e.address }}
      </p>

     
      <p class="info-line">
        <strong>Date:</strong> {{ e.date }}
      </p>

     
      <p class="info-line">
        <strong>Price:</strong> {{ e.price }}
      </p>

    
      @if (!isLoggedIn()) {
      <div class="login-box">
        <span class="login-text">Wish to join the event:</span>
        <button class="login-btn" routerLink="/login">Sign in</button>
      </div>
      }


      
      @if (isLoggedIn() && !isOwner()) {

      @if (!hasJoined()) {
      <button class="join-btn" (click)="joinEvent()">Join Event</button>
      }

      @if (hasJoined()) {
      <button class="join-btn joined" (click)="leaveEvent()">Leave Event</button>
      }

      }

    </div>



    
    <div class="details-right">

      @if (isOwner()) {
      <div class="top-actions">
        <button class="edit-btn" [routerLink]="['/edit', e._id]">Edit</button>
        <button class="delete-btn" (click)="deleteEvent()">Delete</button>
      </div>
      }

      <img [src]="e.images[currentImage]" class="main-image">
    </div>

  </div>

  
  <div class="gallery-wrapper">

    <div class="gallery-row" #gallery>
      @for (img of e.images; track $index) {
      <img [src]="img" class="gallery-thumb" (click)="currentImage = $index">
      }
    </div>

  </div>

  }

</section>